*{
  padding: 0;
  margin: 0;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: tan;
}

.links {
  justify-items: space-between;
}

#links {
  color: antiquewhite;
  text-decoration: none;
}


