*{
  font-family:Georgia, 'Times New Roman', Times, serif
}

#order-page {
  background-color: beige;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} 

#order-products {
  display: flex;
  justify-content: flex-start;
  margin-top: 2%
}

#order-product-image {
  width: 80%;
  height: 40%;
  padding: 10px;
  border: 2px solid black;
  box-shadow: -10px 12px 10px darkgray;
  background-color: tan;
} 


ul { 
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: flex-start;
  padding-top: 5%;
}

li {
  padding: 3px 0px 3px 0px;
}

select {
  margin: 3px 0px 3px 0px;
}

button {
  margin: 3px 0px 3px 0px;
}

#order-summary {
  background-color: tan;
  border: 2px solid black;
  box-shadow: 10px 12px 10px darkgray;
  height: max-content;
  padding: 10px;
  margin-top: 3%
} 

h3 {
  padding: 8px 0 8px 0;
}

h5 {
  padding: 5px 0 5px 0;
}


