 #products-header {
  display: flex;
  justify-content: space-around;
  color:gray;
  background-color:beige;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 100%;
  /* padding-top: 20px; */
  align-items: center;
}

#products {
  background-color:beige;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  padding: 15px;
}

#single-product {
  display: flex; 
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  width: 25%;
  border: 3px groove black;
  box-shadow: 15px -12px 10px darkgray;
  background-color: burlywood;
}

#product-name {
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  padding-top: 25px;
  }

#single-product a {
  text-decoration: none;
}  

#product-image {
  width: 300px;
  height: 200px;
  padding: 10px;
}

 #product-price {
  display: flex;
  padding-bottom: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
